<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

<div class="navbar">
    <a routerLink="home">Home</a>
    <a routerLink="profile">My profile</a>
    <a routerLink="recipes">Recipes</a>
    <a routerLink="comments">Comments</a>
    <a routerLink="favorites">Favorites</a>
    <a routerLink="your-recipes">Your Recipes</a>
    <a routerLink="create-recipe">Create Recipe</a>
    <a routerLink="ingredientes"> Filter by ingredient</a>
    <button (click)="logout()">Log out</button>
  </div>

  <div class="content">
    <router-outlet></router-outlet>


  </div>







