@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Cormorant:wght@400&display=swap');

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant', serif;
    color: #4E342E;
    background: linear-gradient(to bottom, #FFEDD5, #FFD7A3, #FFB385, #FF8A65);
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-image: url('../../../../imagenes/3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 165, 85, 0.8);
    padding: 1rem;
    font-size: 1.1rem;
    width: 100vw;
    font-family: 'Playfair';
}

.home-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar a {
    font-family: 'Playfair Display', serif;
    color: #4E342E;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    padding: 5px 10px;
}

.navbar a:hover {
    color: #BF360C;
    transform: scale(1.1);
}


button {
    background-color: #8f8e8d;
    color: #0d0d0d;
    border: 2px solid #171717;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair';
}

button:hover {
    background-color: #FF7043;
    color: #FFFFFF;
    transform: scale(1.05);
}

/* Icono de corona */
.crown-icon {
    font-size: 18px;
    color: gold;
    margin-left: 10px;
}

/* Títulos y textos */
h1 {
    font-family: 'Playfair Display', serif;
    color: #4E342E;
    font-size: 42px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Playfair';
}

p {
    font-size: 20px;
    color: #8D6E63;
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
    font-family: 'Playfair';
}

/* Estilos de input para formulario */
input[type="text"], textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #FFB385;
    border-radius: 8px;
    background-color: #FFF3E0;
    color: #4E342E;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: #FF7043;
    outline: none;
}



