<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mate:ital@0;1&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="navbar">
  <a routerLink="home" class="home-logo">
    <img src="assets/1%20cir.jpg" alt="Home">
  </a>
    <a routerLink="profile">My profile</a>
    <a routerLink="favorites">Favorites</a>
    <a routerLink="Categories">Recipes</a>
    <a routerLink="your-recipes">Your Recipes</a>
    <a routerLink="create-recipe">Create Recipe</a>
    <a routerLink="ingredientes"> Filter by ingredient</a>
    <a routerLink="meal-plan"> Your Meal Plan</a>
    <button (click)="logout()">Log out <i class="fas fa-crown crown-icon"></i></button>
  </div>



  <div class="content">
    <router-outlet></router-outlet>
  </div>







