@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Cormorant:wght@400&display=swap');
div {
  font-family: 'Playfair';
  padding: 30px;
  background-color: #aa9e8e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  min-height: 29vh;
  margin: 50px auto;

}


h3 {
  font-size: 30px;
  color: #131313;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}


input, select, textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #282626;
  background-color: rgba(255, 255, 255, 0.8);
}


label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #1c1b1b;
  font-weight: bold;
}



textarea {
  height: 150px;
  resize: vertical;
}


h4 {
  font-size: 20px;
  color: #151515;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}


div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[placeholder="Ingredient"],
input[placeholder="Measure"] {
  width: calc(50% - 5px);
}


button {
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button:nth-of-type(1) {
  background-color:  rgba(181, 114, 55, 0.8);
  margin: 0 auto 20px auto;
  display: block; }

button:nth-of-type(1):hover {
  background-color: #c88e1ada;
}


button:nth-of-type(2) {
  width: 100%;
  background-color: #343227;
}

button:nth-of-type(2):hover {
  background-color: #040404;

}

.recipe-container {
  font-family: 'Playfair';
  padding: 30px;
  background-color: rgba(207, 182, 126, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  min-height: 80vh;
  margin: 50px auto;
  backdrop-filter: blur(10px);
}

.ingredients-wrapper {
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;
  height: 10px;
}


.ingredients-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  height: 10px;
}

.ingredients-container input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.ingredients-container button {
  width: 70px;
  height: 40px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredients-container button:hover {
  background-color: #c9302c;
}
