<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mate:ital@0;1&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="recipe-container">
  <h3>Create a New Recipe</h3>

  <label>
    Recipe Name:
    <input [(ngModel)]="recipe.strMeal" required />
  </label>

  <label>
    Recipe Photo:
    <input type="file" (change)="onFileChange($event)" accept="image/*" />
  </label>

  <img *ngIf="imagePreview" [src]="imagePreview" alt="Recipe Image" width="150" />

  <label>
    Category:
    <select [(ngModel)]="recipe.strCategory" required>
      <option *ngFor="let category of categories" [value]="category.strCategory">
        {{ category.strCategory }}
      </option>
    </select>
  </label>

  <label>
    Area:
    <select [(ngModel)]="recipe.strArea" required>
      <option *ngFor="let area of areas" [value]="area">
        {{ area }}
      </option>
    </select>
  </label>

  <label>
    Instructions:
    <textarea [(ngModel)]="recipe.strInstructions" required></textarea>
  </label>

  <h4>Ingredients:</h4>
  <div *ngFor="let ingredient of recipe.ingredients; let i = index" class="ingredients-container">
    <input [(ngModel)]="ingredient.ingredient" placeholder="Ingredient" required />
    <input [(ngModel)]="ingredient.measure" placeholder="Measure" required />
    <button (click)="removeIngredient(i)">Remove</button>
  </div>
  <button (click)="addIngredient()">Add Ingredient</button>

  <button (click)="saveRecipe()" [disabled]="!recipe.strMeal || !recipe.strCategory || !recipe.strArea || !recipe.strInstructions || recipe.ingredients.length === 0">
    Save Recipe
  </button>
</div>
