<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mate:ital@0;1&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="category-container">
  <label for="categorySelect"></label>
  <select id="categorySelect" [(ngModel)]="selectedCategory" (change)="getRecipesFromCategory()">
    <option value="">Choose a category</option>
    <option *ngFor="let category of categoryList" [value]="category.strCategory">
      {{ category.strCategory }}
    </option>
  </select>
</div>

<!-- Lista de todas las recetas cuando no hay categoria seleccionada -->
<div *ngIf="selectedCategory === '' && categoryRecipesFromJson.length > 0">
  <ul>
    <li *ngFor="let recipe of categoryRecipesFromJson">
      <h3>{{ recipe.strMeal }}</h3>
      <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" width="200" />
      <button (click)="viewRecipeDetails(recipe.idMeal)">View Details</button>
    </li>
  </ul>
</div>

<!-- Lista de recetas de la categoria seleccionada -->
<div *ngIf="recipeFromCategoryList.length > 0;">
  <ul>
    <li *ngFor="let recipe of recipeFromCategoryList" (click)="this.getRecipesFromCategory()">
      <h3>{{ recipe.strMeal }}</h3>
      <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" width="200" />
      <button (click)="viewRecipeDetails(recipe.idMeal)">View Details</button>
    </li>
  </ul>
</div>

<ng-template #noRecipes>
  <p>No recipes available in this category.</p>
</ng-template>

<!-- Detalles de la receta seleccionada -->
<div *ngIf="this.recipe">
  <h2>{{ recipe.strMeal }}</h2>
  <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" width="300" />
  <p>{{ recipe.strInstructions }}</p>
</div>
