@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Cormorant:wght@400&display=swap');
body {
  background-color: #fff;
  font-family: 'Playfair';
  margin: 0;
  padding: 0;
  color: #333;
}


h2 {
  color: #0c0b0a;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: 'Playfair';
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 2px solid #92776e;
  font-family: 'Playfair';
}


.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Playfair';
}


.category-container label {
  font-weight: bold;
  color: #6d4b3f;
  font-size: 2rem;
  font-family: 'Playfair';
}


.category-container select {
  padding: 10px;
  font-size: 1rem;
  width: 200px;
  border: 2px solid #FF7043;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
  font-family: 'Playfair';
}

.category-container select:hover {
  border-color: #FF5722;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Playfair';
}

li {
  background-color: #f2d8aa;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid #cdc0a6;
  font-family: 'Playfair';
}

li:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo de las imagenes de los favoritos */
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}


p {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Playfair';
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size:  1.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #aba39c;
  font-family: 'Playfair';
}

button:hover {
  background-color: #f79342;
  color: #3c3c3b;
}

button:focus {
  outline: none;
}

/* Mensaje de no favoritos */
/* ng-template {
  color: #FF7043;
  font-size: 1.2rem;
  font-weight: bold;
} */
