<div class="global-container">
  <div class="auth-container">
    <h2>{{ isLoginMode ? 'LOGIN' : 'REGISTER' }}</h2>

    <form [formGroup]="isLoginMode ? loginForm : registerForm" (ngSubmit)="onSubmit()" class="auth-form">

      <!-- Campo del name (solo para modo de registro) -->
      <div *ngIf="!isLoginMode" class="form-group">
        <label for="name">Name:</label>
        <input formControlName="name" id="name" type="text" placeholder="Enter your name" 
               class="form-control" 
               [ngClass]="{'is-valid': registerForm.get('name')?.valid && registerForm.get('name')?.touched, 
                           'is-invalid': registerForm.get('name')?.invalid && registerForm.get('name')?.touched}" />
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="invalid-feedback">
          Please enter a valid name (letters only).
        </div>
      </div>

      <!-- Campo de email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email" id="email" type="email" placeholder="Enter your email"
               class="form-control" 
               [ngClass]="{'is-valid': (isLoginMode ? loginForm : registerForm).get('email')?.valid && (isLoginMode ? loginForm : registerForm).get('email')?.touched, 
                           'is-invalid': (isLoginMode ? loginForm : registerForm).get('email')?.invalid && (isLoginMode ? loginForm : registerForm).get('email')?.touched}" />
        <div *ngIf="(isLoginMode ? loginForm : registerForm).get('email')?.invalid && (isLoginMode ? loginForm : registerForm).get('email')?.touched" class="invalid-feedback">
          Please provide a valid email (gmail or yahoo).
        </div>
      </div>

      <!-- Campo de password -->
      <div class="form-group">
        <label for="password">Password:</label>
        <input formControlName="password" id="password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter your password"
               class="form-control" 
               [ngClass]="{'is-valid': (isLoginMode ? loginForm : registerForm).get('password')?.valid && (isLoginMode ? loginForm : registerForm).get('password')?.touched, 
                           'is-invalid': (isLoginMode ? loginForm : registerForm).get('password')?.invalid && (isLoginMode ? loginForm : registerForm).get('password')?.touched}" />

        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" (click)="isPasswordVisible = !isPasswordVisible">
            <i class="bi" [ngClass]="{'bi-eye-slash': !isPasswordVisible, 'bi-eye': isPasswordVisible}"></i>
          </button>
        </div>
        <div *ngIf="(isLoginMode ? loginForm : registerForm).get('password')?.invalid && (isLoginMode ? loginForm : registerForm).get('password')?.touched" class="invalid-feedback">
          Password must be at least 3 characters.
        </div>
      </div>

      <button type="submit" class="auth-button btn btn-primary" [disabled]="isLoginMode ? loginForm.invalid : registerForm.invalid">
        {{ isLoginMode ? 'Login' : 'Register' }}
      </button>

      <p *ngIf="errorMessage" class="error-message text-danger">{{ errorMessage }}</p>
    </form>

    <button (click)="toggleMode()" class="toggle-button btn btn-secondary">
      {{ isLoginMode ? 'Register' : 'Switch to Login' }}
    </button>
  </div>
</div>
