<div class="auth-container">
  <h2>{{ isLoginMode ? 'Login' : 'Register' }}</h2>

  <form [formGroup]="isLoginMode ? loginForm : registerForm" (ngSubmit)="onSubmit()" class="auth-form">
    
    <div *ngIf="!isLoginMode" class="form-group">
      <label for="name">Name:</label>
      <input formControlName="name" id="name" type="text" placeholder="Enter your name" />
    </div>

   
    <div class="form-group">
      <label for="email">Email:</label>
      <input formControlName="email" id="email" type="email" placeholder="Enter your email" />
    </div>

   
    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password" id="password" type="password" placeholder="Enter your password" />
    </div>

   
    <button type="submit" class="auth-button">{{ isLoginMode ? 'Login' : 'Register' }}</button>

    
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>

 
  <button (click)="toggleMode()" class="toggle-button">
    {{ isLoginMode ? 'Switch to Register' : 'Switch to Login' }}
  </button>
</div>

  
  
