.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;

  margin-top: -20px;
  
  /* Ajustar el fondo */
  background-image: url('../../../../imagenes/15.avif');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh; 
  min-height: 100vh;  /* 100% de la altura de la pantalla */
  width: 100%; /* Ocupar todo el ancho */

  position: absolute;
}


  .home-container h1 {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    margin-top:30px;
  }

  .home-container p {
    font-size: 1.2rem;
    font-family: 'Cormorant';
    color: #ffffff;
    margin-bottom: 20px;
    margin-top:10px;
    font-style: italic;
  }

  .images-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0;
    margin-top: 50px;
  }

  .food-image {
    width: 300px; /* Aumenta el ancho */
    height: 300px; /* Aumenta la altura */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.food-image:hover {
  transform: scale(1.05); /* Agrega un efecto de zoom al pasar el mouse */
}
