<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mate:ital@0;1&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="recipe-details-container">
  <h2>{{ recipeDetails.strMeal }}</h2>
  <img *ngIf="getRecipeImage()" [src]="getRecipeImage()" alt="{{ recipeDetails.strMeal }}">

  <p class="category-area"><strong>Category:</strong> {{ recipeDetails.strCategory }}</p>
  <p class="category-area"><strong>Area:</strong> {{ recipeDetails.strArea }}</p>

  <div class="instructions">
    <p><strong>Instructions:</strong></p>
    <p>{{ recipeDetails.strInstructions }}</p>
  </div>

  <h3>Ingredients:</h3>
  <ul class="ingredients-list">
    <li *ngFor="let ingredient of getIngredients()" class="ingredient-item">
      {{ ingredient }}
    </li>
  </ul>


  <button *ngIf="!isFavorite" (click)="addToFavorites()">Add to favorites</button>
  <button *ngIf="isFavorite" disabled>This recipe is already in your favorites list </button>
  <button *ngIf="!isInMealPlan" (click)="addToMealPlan()">Add to Meal Plan</button>
<button *ngIf="isInMealPlan" disabled>Already on your meal plan</button>
</div>



<app-comment [comments]="comments" [recipeId]="recipeId"></app-comment>


<div *ngIf="true">
  <h3>Leave a comment:</h3>
  <div class="comment-input-container">
    <textarea formControlName="comment" rows="4" cols="50" placeholder="Write your comment.." required></textarea>
  </div>
    <div *ngIf="commentForm.controls['comment'].invalid && commentForm.controls['comment'].touched" class="error-messages">
      <p *ngIf="commentForm.controls['comment'].hasError('maxlength')">The comment cannot exceed 500 characters.</p>
    </div>
    <br>
    <button type="submit" [disabled]="commentForm.invalid">Submit comment</button>
</div>
