.comments-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(63, 63, 62, 0.1);
  margin-top: 20px;
  text-align: center;
}

.comments-section h3 {
  font-size: 10%;
  margin-bottom: 15px;
}

.comments-section {
  background-color: #ecbc75; /* Fondo gris oscuro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(203, 143, 32, 0.2);
  margin-top: 20px;
  text-align: center;
  color: #f4f4f4; /* Texto blanco grisáceo */
}

.comments-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #151414; /* Naranja */
}

.toggle-button {
  background-color: #6d6d6b; /* Naranja */
  color: #eae6e6;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.toggle-button:hover {
  background-color: #5f523a; /* Naranja más oscuro */
  transform: scale(1.05);
}

/* Estilo para la lista de comentarios */
.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo para cada comentario */
.comment-item {
  background-color: #ded0c1;
  color: #333;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem; /* Hacer los comentarios más grandes */
  display: flex;
  align-items: center;
}

/* Contenedor de texto del comentario */
.comment-item div:first-child {
  flex-grow: 1;
}

/* Estilo para los botones dentro de cada comentario */
.comment-item button {
  background-color: #71706e;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 10px; /* Separa los botones */
}

.comment-item button:hover {
  background-color: #6f6b69;
}

/* Estilo para el contenedor de la sección de comentarios */
.comments-section {
  background-color: #eeb472;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.comment-item button:nth-child(1) {
  background-color: #ff4d4d; /* Rojo */
  color: white;
}

.comment-item button:nth-child(1):hover {
  background-color: #cc0000; /* Rojo oscuro */
  transform: scale(1.05);
}

.comment-item button:nth-child(2) {
  background-color: #ffa500; /* Naranja */
  color: black;
}

.comment-item button:nth-child(2):hover {
  background-color: #cc8400; /* Naranja más oscuro */
  transform: scale(1.05);
}

.comment-item button:nth-child(3) {
  background-color: #e64105; /* Gris oscuro */
  color: white;
}

.comment-item button:nth-child(3):hover {
  background-color: #c20c0c; /* Gris más oscuro */
  transform: scale(1.05);
}
