<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mate:ital@0;1&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="comments-section">
  <h3>Comment section:</h3>

  <button class="toggle-button" (click)="toggleExpand()">
    {{ expanded ? 'Hide' : 'Show' }} Comments ({{ comments.length }})
  </button>

  <div *ngIf="expanded">
    <ul class="comment-list">
      <li *ngFor="let comment of comments" class="comment-item">
        <!-- Modo edición -->
        <div *ngIf="editingCommentId === comment.id">
          <textarea [(ngModel)]="editedText" rows="2"></textarea>
          <button (click)="saveEdit()">Save</button>
          <button (click)="cancelEdit()">Cancel</button>
        </div>

        <!-- Modo visualización -->
        <div *ngIf="editingCommentId !== comment.id">
          <strong>{{ comment.userName }}</strong> {{ comment.comment }}
          <small>{{ comment.date | date: 'short' }}</small>

          <!-- Botones para eliminar o editar -->
          <button *ngIf="canDeleteComment(comment)" (click)="deleteComment(comment.id)">Delete</button>
          <button *ngIf="canDeleteComment(comment)" (click)="startEditing(comment)">Edit</button>
        </div>
      </li>
    </ul>
  </div>
</div>
