@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Cormorant:wght@400&display=swap');

.recipes-container {
  margin: 40px auto;
  margin: 40px auto;
  padding: 20px;
  width: 1000px;
  max-width: 95vw;
  border-radius: 10px;
  font-family: 'Playfair';
}


.recipes-title {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Playfair';
}

/* Estilos para la lista de recetas */
.recipes-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  font-family: 'Playfair';
}

.recipe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(207, 182, 126, 0.8);
  font-family: 'Playfair';
}

.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Playfair';
}

.recipe-name {
  font-size:  1.5em;
  font-weight: bold;
  color: #181818;
  font-family: 'Playfair';
}

.recipe-category {
  font-size:  1.5em;
  color: #201f1f;
  font-family: 'Playfair';
}

.recipe-actions {
  display: flex;
  gap: 12px;
  font-family: 'Playfair';
}

.delete-btn, .view-btn {
  padding: 10px 15px;
  font-size:  1.5em;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-family: 'Playfair';
}


.delete-btn {
  background-color: #ff6b6b;
  color: white;
}

.delete-btn:hover {
  background-color: #ff4d4d;
}


.view-btn {
  background-color: #aba39c;
  color: white;
}

.view-btn:hover {
  background-color: #635e5e;
}

.no-recipes-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  font-size: 6rem;
  font-weight: bold;
  color: #333;
  height: 70vh;
  width: 100%;
}

.no-recipes-message p {
  margin: 0 0 20px 0;
}

.go-to-recipes-btn {
  background-color: #e78e12;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.go-to-recipes-btn:hover {
  background-color: #e89d35;
  transform: scale(1.05);
}
