@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Cormorant:wght@400&display=swap');
.profile-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Contenedor del perfil */
.profile-container {
  display: flex;
  flex-direction: row; /* Alinea las imágenes y el contenido en una fila */
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos arriba */
  width: 90%;
  max-width: 1200px;

}

/* Contenedor de las imágenes de los chefs */
.chef-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.3;
  padding-right: 20px;
  margin-left: -150px;

}

/* Estilo para las imágenes de los chefs */
.chef-image {
  width: 100%; /* Hace que las imágenes ocupen el ancho del contenedor */
  max-width: 2000px; /* Evita que sean demasiado grandes */
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px; /* Espaciado entre imágenes */

}

/* Contenedor del contenido del perfil */
.profile-content {
  flex: 1; /* Ocupa el 70% restante del ancho */
  width: 1500px;
  padding: 20px;
  margin-left: 50px;
}

/* Estilo para la imagen de perfil */
.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;

}

/* Estilos para los detalles del perfil */
.profile-details {
  background-color:  #FFDAB9;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-details label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-details input,
.profile-details textarea {
  background-color:  #f7f3ef;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-details textarea {
  resize: vertical;
  min-height: 80px;
}

.profile-details button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para el mensaje de carga */
.loading-message {
  font-size: 18px;
  color: #666666;
  text-align: center;
}

/* Estilo para los mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.chef-container {
  position: relative;
  left: -100px; 
  top: 50px;
  margin-bottom: 20px;
  width: 500px;
}
