@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.home-container {
  width: 80%;
  max-width: 1200px;
  text-align: center;
  padding: 50px;
  margin: auto;
}

/* Estilo para el título */
.home-container h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #01390f;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
}

.inspirational-text {
  font-family: 'Cormorant';
  font-size: 18px;
  color: #01390f;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}

/* Contenedor de las imágenes */
.side-images {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 0;
  justify-content: center;
}

/* Estilo para las imágenes */
.food-image {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.food-image:hover {
  transform: scale(1.05); }
