<div>
  <!-- Selector de categorías -->
  <label for="categorySelect">Select a category  </label>
  <select id="categorySelect" [(ngModel)]="selectedCategory" (change)="filterFavorites()">
    <option value="">All categories</option>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>
</div>

<!-- Lista de favoritos filtrados -->
<div *ngIf="filteredFavorites.length > 0; else noFavorites">
  <ul>
    <li *ngFor="let favorite of filteredFavorites">
      <!-- Muestra el nombre, la imagen y una descripción o receta -->
      <h3>{{ favorite.strMeal }}</h3>
      <img [src]="favorite.strMealThumb" alt="{{ favorite.strMeal }}" width="200" />

      <!-- Botón para eliminar favorito -->
      <button (click)="removeFavorite(favorite.idMeal)">Delete from favorites</button>

      <!-- Botón para ver los detalles -->
      <button (click)="viewRecipeDetails(favorite.idMeal)">Recipe details </button>
    </li>
  </ul>
</div>

<!-- Mensaje en caso de no haber favoritos -->
<ng-template #noFavorites>
  <p>You don't have favorite recipes in this category.</p>
</ng-template>
