@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Cormorant:wght@400&display=swap');
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  line-height: 1.6;
  border:none;
  font-family: 'Playfair';
}


h2 {
  color: #0c0b0a;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 1.5;
  font-family: 'Playfair';
}

/* Contenedor principal */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  border: 2px solid #92776e;
  border-radius: 8px;
  border: none;
  font-family: 'Playfair';
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Playfair';
}

.category-container label {
  font-weight: bold;
  color: #1e1e1e;
  font-size: 1.7rem;
  font-family: 'Playfair';
}

.category-container select {
  padding: 12px;
  font-size: 1.3rem;
  width: 250px;
  border: 2px solid #ffb443;
  border-radius: 5px;
  background-color: #dad5be;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
  font-family: 'Playfair';
}

.category-container select:hover {
  border-color: #FF5722;
}


ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-family: 'Playfair';
}

li {
  background-color: #f2d8aa;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 calc(25% - 10px);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid #ebcdaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  font-family: 'Playfair';
}


@media (max-width: 1200px) {
  li {
    flex: 1 1 calc(33.33% - 10px);
  }
}

@media (max-width: 768px) {
  li {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  li {
    flex: 1 1 100%;
  }
}

li:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  max-height: 200px;
  object-fit: cover;
}

p {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
  font-family: 'Playfair';
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #aba39c;
  display: block;
  width: 100%;
  font-family: 'Playfair';
}

button:hover {
  background-color: #f79342;
  color: #3c3c3b;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
}

p {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
  font-family: 'Playfair';
}

ng-template {
  color: #FF7043;
  font-size: 4rem;
  font-weight: bold;
  border: none;
}



