<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mate:ital@0;1&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<ng-template #mealList>
<div *ngFor="let meal of mealPlan">
  <div class="meal-item">
    <img *ngIf="meal.recipe?.strMealThumb" [src]="meal.recipe.strMealThumb" alt="Recipe Image" class="meal-image" />

    <div class="meal-details">
      <h3>{{ meal.recipe?.strMeal }}</h3>

      <label for="day">Day of the week:</label>
      <select [(ngModel)]="meal.selectedDay" name="day" id="day" (change)="updateMealDay(meal.id, $event)">
        <option value="Select a day" [selected]="meal.selectedDay === 'Select a day'">Select a day</option>
        <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
      </select>

      <label for="category">Category:</label>
      <select [(ngModel)]="meal.selectedCategory" name="category" id="category" (change)="updateMealCategory(meal.id, $event)">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
      </select>

      <button (click)="removeMeal(meal.id)" class="remove-btn">Remove from meal plan</button>

       <button (click)="viewRecipeDetails(meal.recipe.idMeal)" class="view-details-btn">View recipe details</button>
    </div>
  </div>
</div>
</ng-template>

<div *ngIf="mealPlan.length === 0; else mealList" class="no-meals-message">
  <p>You don´t have recipes on your weekly meal plan.</p>
  <button (click)="goToCategoryPage()" class="choose-recipe-btn">Choose a recipe for your weekly meal plan</button>
</div>
